<!DOCTYPE html>


<div class = "container">

<div class="topicIndex">
<ul>
    <li ng-repeat="topic in topicsIndex.all">
      <div class="col-md-4">
        <div class="topicChoice">
         <div class="row justify-content-center">
          <a ui-sref="topicsShow({id: topic.id})">
            <p>{{ topic.name}}</p>
            <div class="indexPicture">
              <img ng-src="http://localhost:3000/assets/{{ topic.icon }}" alt="">
            </div>
          </a>
        </div>
      </div>
      </div>
    </li>
  </ul>
</div>
</div>
