<!DOCTYPE html>
<div class = "profile">
<h1>{{teachersShow.teacher.name}}</h1>
  <h3>Your Students</h3>


  <ul>
  <!-- single instance from the array in the actual array -->
  <!-- inside the loop always print the entire single instance first -->
    <li ng-repeat="student in teachersShow.teacher.students">
      <p><em>{{ student.first_name }} {{ student.last_name }}</em></p>
        <button class="blueButton small" ng-show="teachersShow.showingUnmarked" ng-click="teachersShow.toggleQuestions()">Show marked</button>
        <button  class="blueButton small" ng-hide="teachersShow.showingUnmarked" ng-click="teachersShow.toggleQuestions()">Show unmarked</button>

          <table>
            <tr>
              <th>Question</th>
              <th>Workings</th>
              <th>Student answer</th>
              <th>answer</th>
              <th>result</th>
              <th>marking</th>
              <th>teacher Comment</th>
            </tr>
            <tr ng-repeat="solution in student.solutions" ng-show="teachersShow.showSolution(solution)">
              <td>{{ solution.challenge.question}}</td>
              <td>{{ solution.student_comment}}</td>
              <td>{{ solution.answer }}</td>
              <td>{{solution.challenge.answer}}</td>
              <td>{{solution.correct}}</td>
              <td> <button class="blueButton" ng-click="teachersShow.correctMarking(solution)">Correct</button>
             <button class="pinkButton" ng-click="teachersShow.incorrectMarking(solution)">Needs more work</button> </td>
              <td>
                <form ng-submit="teachersShow.addComment(solution)">
                  <textarea type="text" name="body" ng-model="solution.teacher_comment"></textarea>
                  <button>Comment</button>
                </form>
              </td>
            </tr>
          </table>


        </li>
      </ul>

</div>
