<!DOCTYPE html>
<div class="backgroundpicture">
<div class="register">
  <h1>Student register</h1>
<div class="row">
  <div class="col-md-12">
    <form ng-submit="auth.register()">
      <div>
        <input type="text" placeholder="Email" ng-model="auth.student.email">
      </div>

      <div>
        <input type="text" placeholder="First Name" ng-model="auth.student.first_name">
      </div>

      <div>
        <input type="text" placeholder="Last Name" ng-model="auth.student.last_name">
      </div>


      <div>
        <select ng-model="auth.student.school" ng-options="school.name for school in auth.school" >
          <option value="" selected="selected">Select School </option>
        </select>
      </div>


      <div>
        <input type="password" placeholder="password" ng-model="auth.student.password">
      </div>

      <div>
        <input type="password" placeholder="Password Confirmation" ng-model="auth.student.password_confirmation">
      </div>

      <button>Register</button>
    </form>
  </div>
</div>
</div>
</div>
