<!DOCTYPE html>

<div class="row">
  <div class="col-md-6">
    <form ng-submit="auth.register()">
      <div>
        <label>Email</label>
        <input type="text" ng-model="auth.student.email">
      </div>

      <div>
        <label>First Name</label>
        <input type="text" ng-model="auth.student.first_name">
      </div>

      <div>
        <label>Last Name</label>
        <input type="text" ng-model="auth.student.last_name">
      </div>

      <div>
        <label>School</label>
        <input type="number" ng-model="auth.student.school_id">
      </div>


      <div>
        <label>Password</label>
        <input type="password" ng-model="auth.student.password">
      </div>

      <div>
        <label>Password Confirmation</label>
        <input type="password" ng-model="auth.student.password_confirmation">
      </div>

      <button>Register</button>
    </form>
  </div>
</div>
