<!DOCTYPE html>
<div class="backgroundpicture">
<div class="register">
  <h1>teacher register</h1>

  <div class="row">
    <div class="col-md-12">
      <form ng-submit="teacherauth.register()">
        <div>
          <input type="text" placeholder="Email" ng-model="teacherauth.teacher.email">
        </div>

        <div>
          <input type="text" placeholder="Name" ng-model="teacherauth.teacher.name">
        </div>

        <div>
          <select ng-model="teacherauth.teacher.school" ng-options="school.name for school in teacherauth.school" >
            <option value="" selected="selected">Select School </option>
          </select>
        </div>



        <div>
          <input type="password" placeholder="password" ng-model="teacherauth.teacher.password">
        </div>

        <div>
          <input type="password" placeholder="password confirmation" ng-model="teacherauth.teacher.password_confirmation">
        </div>

        <button>Register</button>
      </form>
    </div>
  </div>
</div>
</div>
