// Import all of your scss files here


@import 'variables';
@import 'extends';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.4;
  &:not(.home) {
    header {
      position: static;
      nav {
        ul {
          li {
            a {
              color: black;
            }
          }
        }
      }
    }
  }
}
//rainbow fonts
.rainbow {
  background-image: linear-gradient(to right, $brand-primary, $brand-three 50%, $brand-secondary 70%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

button, input, textarea {
  font-family: 'Quicksand', sans-serif;
}

a, a:hover, a:focus {
  color: black;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6{
  @extend .rainbow;
  margin-bottom: 5px;
}

h1, h2, h5 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

h4 {
  font-size: 14px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  nav {
    height: 60px;
    background-color: $brand-secondary;
    padding-bottom: 6%;
    ul {
      li {
        line-height: 60px;
        display: inline-block;
        &:first-child {
          font-size: 35px;
        }
        &:not(:first-child) {
          float: right;
          margin-left: 20px;
        }
        a {
          color: white;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 2px;
          &:hover, &:focus {
            color: white;
          }
          &.active {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 2px;
              width: 100%;
              border-radius: 2px;
              background-color: $brand-primary;
            }
          }
        }
      }
    }
  }
}

.message {
  background-color: lighten($brand-primary, 20%);
  padding: 10px 0;
  margin-top: -10px;
  margin-bottom: 20px;
}


form {
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
  }
  input, textarea {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid $brand-secondary;
    padding: 5px 10px;
    font-size: 14px;
    &:focus {
      outline: none !important;
      border-width: 2px;
      padding: 4px 9px;
    }
  }
  input[type="checkbox"] {
    width: auto;
  }
  textarea {
    resize: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 5px;
    height: 100px;
    &:focus {
      padding: 9px;
    }
  }
  button {
    @extend .button;
    @extend .button--blue;
    width: 100%;
  }
}
//tables (school league, student and teacher profiles)
table{
  width: 90%;
  margin: 0 5%;
    td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: $brand-primary;
      border: 1px solid grey;
      border-collapse: collapse;
      color: black;
      text-align: center;
      font-size: 18px;
    }
    tr{
      &:nth-child(odd) {
      background-color: $brand-four;
    }
    &:nth-child(even) {
      background-color: $brand-five;
    }
    &:hover{
        background-color: $brand-three;
      }
    }
}



//topics index
.topicIndex{
  overflow: hidden;
  & ul{
    list-style-type: none;
    text-align: center;
    & li a{
      display: block;
      font-size: 26px;
      height: 350px;
      position: relative;
      color: $brand-primary;
      border: solid 5px;
      border-radius: 5%;
      border-image:   linear-gradient(to right, yellow 25%, #19bfff 75%) 5;
      margin-top: 20px;
      margin: 5%;
      &:hover{
        background-color: $brand-three
      }
      img{
        width: 200px;
        height: 175px;
        }
      }
    }
    .indexPicture{
      position: absolute;
      vertical-align: middle;
      padding-bottom: 10%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  //topicsShow page
  #topicShow{
    overflow: hidden;
    & ul{
      list-style-type: none;
      text-align: center;
      & li a{
        display: block;
        font-size: 20px;
        position: relative;
        color: black;
        border-radius: 5%;
        margin: 5%;
        border: 1px solid $brand-primary;
        &:hover{
          background-color: $brand-three
        }
      }
      .topicTeaser{
        display: block;
      }
    }
  }

  //Student profile- table shown above.

  #studentProfile{
    .studentInfo{
      padding-left: 5%;
    }
    .studentCorrect{
      p{
        font-size: 20px;
      }
    }
  }
