// Import all of your scss files here


@import 'variables';
@import 'extends';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');


body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.4;
  &:not(.home) {
    header {
      position: static;
      nav {
        ul {
          li {
            a {
              color: black;
            }
          }
        }
      }
    }
  }
}
//rainbow fonts
.rainbow {
  background-image: linear-gradient(to right, $brand-primary, $brand-three 50%, $brand-secondary 70%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

button, input, textarea {
  font-family: 'Quicksand', sans-serif;
}

a, a:hover, a:focus {
  color: black;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6{
  @extend .rainbow;
  margin-bottom: 5px;
}

h1, h2, h5 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

h4 {
  font-size: 14px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // margin-bottom: 10px;
  nav {
    height: 60px;
    background-color: $brand-secondary;
    padding-bottom: 6%;
    ul {
      li {
        line-height: 60px;
        display: inline-block;
        &:first-child {
          font-size: 35px;
        }
        &:not(:first-child) {
          float: right;
          margin-left: 20px;
        }
        a {
          color: white;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 2px;
          &:hover, &:focus {
            color: white;
          }
          &.active {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 2px;
              width: 100%;
              border-radius: 2px;
              background-color: $brand-primary;
            }
          }
        }
      }
    }
  }
}

.message {
  background-color: lighten($brand-primary, 20%);
  padding: 10px 0;
  margin-top: -10px;
  margin-bottom: 20px;
}


form {
  input, textarea, select {
    margin-bottom: 20px;
    width: 75%;
    border: 1px solid $brand-secondary;
    padding: 5px 10px;
    font-size: 14px;
    &:focus {
      outline: none !important;
      border-width: 2px;
      padding: 4px 9px;
    }
  }
  textarea {
    resize: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 5px;
    height: 100px;
    &:focus {
      padding: 9px;
    }
  }
  button {
    @extend .button;
    @extend .button--blue;
    width: 75%;
  }
  #workings{
    width: 50%;
    height: 200px;
    margin: 0 25%;
  }
  #answer{
    width: 25%;
    margin: 1% 37%;
  }
}

//tables (school league, student and teacher profiles)
table{
  width: 90%;
  margin: 0 5%;
    td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: $brand-primary;
      border: 1px solid grey;
      border-collapse: collapse;
      color: black;
      text-align: center;
      font-size: 18px;
    }
    tr{
      &:nth-child(odd) {
      background-color: lighten($brand-secondary, 50%);
    }
    &:nth-child(even) {
      background-color: lighten($brand-secondary, 75%);;
    }
    &:hover{
        background-color: $brand-three;
      }
    }
}



//topics index
.topicIndex{
  overflow: hidden;
  & ul{
    list-style-type: none;
    text-align: center;
    & li a{
      display: block;
      font-size: 26px;
      height: 350px;
      position: relative;
      color: black;
      border: solid 3px $brand-primary;
      margin-top: 20px;
      margin: 5%;
      &:hover{
        background-color: $brand-three
      }
      img{
        width: 200px;
        height: 175px;
        }
      }
    }
    .indexPicture{
      position: absolute;
      vertical-align: middle;
      padding-bottom: 10%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  //topicsShow page
  #topicShow{
    overflow: hidden;
    & h1{
      text-align: center;
      color: black;
      padding-bottom: 5%;
      padding-top: 2%;
    }
    & ul{
      list-style-type: none;
      text-align: center;
      & li a{
        display: block;
        font-size: 20px;
        position: relative;
        color: black;
        margin: 5%;
        border: 1px solid $brand-primary;
        height: 100px;
        & p {
          padding-top: 15%;
        }
        &:hover{
          background-color: $brand-three
        }
        &.answered {
          background-color: $brand-primary;
          color: white;
        }
      }
      .topicTeaser{
        display: block;
      }
    }
  }

  //Student profile- table shown above.

  #studentProfile{
    .studentInfo{
      padding-left: 5%;
    }
    .studentCorrect{
      p{
        font-size: 20px;
      }
    }
  }
//question page for students
  .challengeShow{
    p {
      font-size: 30px;
      text-align: center;
    }
    .workings{
      label{
        padding-left: 25%
      }
    }
    .answer{
      label{
        padding-left: 37%;
        padding-top: 1%;
      }
    }
  }


#Homepage{
  h1{
    padding-left: 3%;
    padding-top: 1%;
  }
  .welcomeStep{
    margin: 2%;
    height: 200px;
    width: 20%;
    p{
      text-align: center;
      font-size: 18px;
    }
    img{
      position: relative;
      padding: 0 26%;
    }
    &:nth-child(1) {
    margin-left: 4%;
  }
  }
  .leagueTable{
    h1{
      padding-bottom: 2%;
    }
    .leagueTableGrid{
      padding: 0 25%;
      p{
        font-size: 18px;
        text-align: center;
      }
    }
  }
}
.backgroundpicture{
  overflow: hidden;
  background-image: url("/images/physicsbackground.png");
  background-repeat: repeat;
  height: 100vh;
}

.register{
  border: 2px solid $brand-primary;
  width: 40%;
  height: 450px;
  margin: 15% 30%;
  text-align: center;
  background-color: white;
  h1{
    padding-bottom: 5%;
  }
}

.login{
  height: 300px;
}

.blueButton{
    @extend .button;
    @extend .button--blue;
    width: 90%;
    margin-left: 5%;
}

.pinkButton{
    @extend .button;
    @extend .button--pink;
    width: 90%;
    margin-left: 5%;
}

.profile{
  p {
    font-size: 20px;
  }
}

.small{
  width: 30% ;
}

#solutionShow{
  margin: 10% 20%;
  text-align: center;
  p{
    font-size: 20px;
  }
  .solutionQuestion{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5%;
  }
}
